.purchaseadminlottery_main{
    color:white;
   margin-bottom: 20px;
   margin-left: 20px;
}
.purchaseadminlottery_main label{
    margin-right: 50px;
    color: white;
}
.purchaseadminlottery_main button{
    background-color: #2A687C;
    border:none;
    outline:none;
    color:white;
    border-radius: 5px;
}
.savebutton{
    background-color:#2A687C ;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
  
}